name: Build and test

on:
  schedule:
    - cron: '0 18 * * 5'
  push:
    branches:
        - main
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            build_type: release
            compiler: gcc
          - os: ubuntu-latest
            build_type: debug
            compiler: gcc
          - os: ubuntu-latest
            build_type: release
            compiler: clang
          - os: ubuntu-latest
            build_type: debug
            compiler: clang
          - os: macos-15
            build_type: release
            compiler: clang
          - os: macos-15
            build_type: debug
            compiler: clang
          - os: windows-latest
            build_type: release
            compiler: msvc
          - os: windows-latest
            build_type: debug
            compiler: msvc

    runs-on: ${{ matrix.os }}
    name: '${{ matrix.os }}: ${{ matrix.compiler }} + ${{ matrix.build_type }}'

    steps:
      - uses: actions/checkout@v6

      - name: Select CMake preset name
        shell: bash
        run: |
            CMAKE_PRESET_NAME=${{ matrix.compiler }}_${{ matrix.build_type }}
            echo "CMAKE_PRESET_NAME=$CMAKE_PRESET_NAME" >> "$GITHUB_ENV"

      - name: Setup conan
        uses: ./.github/actions/setup_conan
        with:
          preset-name: ${{ env.CMAKE_PRESET_NAME }}

      - name: Configure environment for current OS
        uses: ./.github/actions/configure_common_environment

      - name: Build with CMake
        uses: ./.github/actions/run_cmake
        with:
          preset-name: ${{ env.CMAKE_PRESET_NAME }}

#------------------------------------------------------------------------------
# Build with coverage
#------------------------------------------------------------------------------
  coverage:
    needs: build
    name: Collect coverage on ubuntu-latest with gcc_debug
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install lcov
        run: |
           sudo apt install -y lcov

      - name: Setup conan
        uses: ./.github/actions/setup_conan
        with:
          preset-name: gcc_debug

      - name: Build with CMake
        uses: ./.github/actions/run_cmake
        with:
          preset-name: gcc_debug
          configure-options: '-DMSWPR_ENABLE_COVERAGE=ON'
          run-coverage: true
          run-tests: false

      - name: Upload code coverage info
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./build/coverage_report_lcov/total.info
          flags: gcc_debug
          disable_search: true
          fail_ci_if_error: true
          plugins: noop
