name: Release

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            build_type: release
            compiler: clang
          - os: macos-15
            build_type: release
            compiler: clang
          - os: macos-15-intel
            build_type: release
            compiler: clang
          - os: windows-latest
            build_type: release
            compiler: msvc

    runs-on: ${{ matrix.os }}
    name: 'Build on ${{ matrix.os }}: ${{ matrix.compiler }} + ${{ matrix.build_type }}'

    steps:
      - uses: actions/checkout@v6

      - name: Select CMake preset name
        shell: bash
        run: |
            CMAKE_PRESET_NAME=${{ matrix.compiler }}_${{ matrix.build_type }}
            echo "CMAKE_PRESET_NAME=$CMAKE_PRESET_NAME" >> "$GITHUB_ENV"

      - name: Setup conan
        uses: ./.github/actions/setup_conan
        with:
          cmake-preset-name: ${{ env.CMAKE_PRESET_NAME }}

      - name: Configure environment for current OS
        uses: ./.github/actions/configure_common_environment

      - name: Build with CMake
        uses: ./.github/actions/run_cmake
        with:
          preset-name: ${{ env.CMAKE_PRESET_NAME }}
          configure-options: '-DBUILD_TESTING=OFF'
          run-tests: false
          run-packaging: true

      - name: Upload the built artifact
        if: matrix.build_type == 'release'
        uses: actions/upload-artifact@v6
        with:
          name: mswpr-${{ matrix.os }}-${{ matrix.compiler }}
          path: |
            build/dist/*.zip
            build/dist/*.tar.gz
          retention-days: 1

  release:
      if: github.event_name != 'workflow_dispatch'
      needs:
        - build
      name: release
      runs-on: ubuntu-latest
      permissions:
        contents: write
      steps:
        - name: Checkout repository
          uses: actions/checkout@v6

        - uses: actions/download-artifact@v7
          with:
            path: dist

        - name: List
          run: ls -R dist/

        - name: Create GitHub Release
          uses: softprops/action-gh-release@v2
          with:
            files: dist/**
