name: Release

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            build_type: release
            compiler: clang
          - os: macos-15
            build_type: release
            compiler: clang
          - os: macos-15-intel
            build_type: release
            compiler: clang
          - os: windows-latest
            build_type: release
            compiler: msvc

    runs-on: ${{ matrix.os }}
    name: 'Build on ${{ matrix.os }}: ${{ matrix.compiler }} + ${{ matrix.build_type }}'

    steps:
      - uses: actions/checkout@v6

      - name: Install x11 for Ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt install -y libx11-dev libxext-dev

      - name: Select CMake preset name
        shell: bash
        run: |
            CMAKE_PRESET_NAME=${{ matrix.compiler }}_${{ matrix.build_type }}
            echo "CMAKE_PRESET_NAME=$CMAKE_PRESET_NAME" >> "$GITHUB_ENV"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install conan
        shell: bash
        run: |
           uv sync --locked --dev
           CONAN_PIP_VERSION=$(uv run conan version --format=json | jq -r '.version' | tr . _)
           echo "CONAN_PIP_VERSION=$CONAN_PIP_VERSION" >> "$GITHUB_ENV"
      - name: Cache Conan packages
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.conan_local_cache
          key: conan-${{ env.CONAN_PIP_VERSION }}-${{ matrix.os }}-${{ env.CMAKE_PRESET_NAME }}-${{ hashFiles('conanfile.py') }}

      - name: Configure environment for Windows
        if: matrix.os == 'windows-latest'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Configure environment for MacOS
        if: matrix.os == 'macos-15'
        run: |
          echo "$(brew --prefix llvm@18)/bin" >> $GITHUB_PATH
          export PATH=$(brew --prefix llvm@18)/bin:$PATH
          export CC=$(brew --prefix llvm@18)/bin/clang
          export CXX=$(brew --prefix llvm@18)/bin/clang++
      - name: Configure CMake
        run: cmake -DBUILD_TESTING=OFF --preset ${{ env.CMAKE_PRESET_NAME }}

      - name: Compile
        run: cmake --build --preset ${{ env.CMAKE_PRESET_NAME }}

      - name: Pack
        run: cpack --preset ${{ env.CMAKE_PRESET_NAME }}

      - name: Upload the built artifact
        if: matrix.build_type == 'release'
        uses: actions/upload-artifact@v6
        with:
          name: mswpr-${{ matrix.os }}-${{ matrix.compiler }}
          path: |
            build/dist/*.zip
            build/dist/*.tar.gz
          retention-days: 1

  release:
      if: github.event_name != 'workflow_dispatch'
      needs:
        - build
      name: release
      runs-on: ubuntu-latest
      permissions:
        contents: write
      steps:
        - name: Checkout repository
          uses: actions/checkout@v6

        - uses: actions/download-artifact@v7
          with:
            path: dist

        - name: List
          run: ls -R dist/

        - name: Create GitHub Release
          uses: softprops/action-gh-release@v2
          with:
            files: dist/**
