name: Run static_analysis

on:
  schedule:
    - cron: '30 18 * * 5'
  workflow_dispatch:

jobs:
  clang_tidy:
    name: Run clang-tidy on ubuntu-latest with clang_debug
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Check clang-tidy
        shell: bash
        run: |
           clang-tidy --version

      - name: Setup conan
        uses: ./.github/actions/setup_conan
        with:
          cmake-preset-name: clang_debug

      - name: Build with CMake
        uses: ./.github/actions/run_cmake
        with:
          preset-name: clang_debug
          configure-options: '-DMSWPR_ENABLE_CLANG_TIDY=ON'
          run-tests: false
