name: Run static_analysis

on:
  schedule:
    - cron: '30 18 * * 5'
  workflow_dispatch:

jobs:
  clang_tidy:
    name: Run clang-tidy on ubuntu-latest with clang_debug
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Check clang-tidy
        shell: bash
        run: |
           clang-tidy --version

      - uses: ./.github/actions/setup_conan
        with:
          cmake-preset-name: clang_debug

      - name: Configure CMake
        run: cmake -DMSWPR_ENABLE_CLANG_TIDY=ON --preset clang_debug

      - name: Compile
        run: cmake --build --preset clang_debug
